VITE_API_HOST=http://127.0.0.1:8001
VITE_HOST_URL=http://localhost:5173
VITE_GOOGLE_CLIENT_ID=your-google-oauth-client-id.apps.googleusercontent.com
VITE_GOOGLE_SCOPE=https://www.googleapis.com/auth/drive.appdata
VITE_GOOGLE_API_KEY=your-google-api-key

VITE_APP_CONCEPTB_LIFE=http://localhost:5173
VITE_APP_DIVIDEND_LIFE=http://localhost:5174
VITE_APP_HEALTH_LIFE=http://localhost:5175
VITE_APP_BALANCE_LIFE=http://localhost:5176
VITE_APP_WEALTH_LIFE=http://localhost:5177
