.table {
  width: 100%;
}

.operationCol {
  width: 140px;
}

.smallInput {
  width: 80px;
}

.actionButton {
  margin-left: 6px;
}

.actions {
  display: flex;
  gap: 6px;
}

.operationCol button {
  width: 60px;
  padding: 2px;
  white-space: nowrap;
}
