.footer {
  margin-top: 2rem;
  padding: 1rem 0;
  /* padding: 0.1rem 0; */
  background: var(--color-card-bg);
  color: var(--color-text);
  border-top: 1px solid var(--color-border);
  text-align: center;
}

.footer-content {
  max-width: 600px;
  margin: 0 auto;
}

.theme-toggle {
  /* margin-bottom: 5px; */
  display: flex;
  flex-direction: column;
  /* align-items: flex-end; */
}

.language-toggle {
  /* margin-top: 4px; */
  margin-top: 0.1rem;

}

.language-toggle button {
  margin-left: 4px;
}

.theme-buttons button {
  margin-left: 4px;
}

.donation-section {
  /* margin-top: 0.5rem; */
  margin-top: 0.1rem;
}

.donate-link {
  display: inline-block;
  margin-left: 3px;
}

.copyright {
  /* margin-top: 1rem; */
  margin-top: 0.1rem;
  font-size: 0.9rem;
}
