.table {
  width: 100%;
}

.operationCol {
  width: 160px;
}

.smallInput {
  width: 80px;
}

.actionButton {
  margin-left: 6px;
}

@media (max-width: 600px) {
  .operationCol button {
    width: 2em;
    padding: 2px;
  }
}
